<td>
  <%= image_tag group.get_group_image.variant(resize_to_limit: [100, 100]).processed %>
</td>
<td>
  <%= link_to group_path(group.id) do %>
    <%= group.name %>
  <% end %>
</td>
<td><%= group.introduction %></td>
<td>
  <% if group.owner_id == current_user.id %>
    <%= link_to "Edit", edit_group_path(group.id), class: "btn btn-success" %>
  <% end %>
</td>