<div class="container">

  <div class="row">

    <div class="col-3">
      <%= render "books/userinfo", user: current_user %> 
    </div>


    <div class="col-8 offset-1">
      <h2>Groups</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>グループ名</th>
            <th>紹介文</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @groups.each do |group| %>
          <tr>
            <td>
              <%= image_tag group.get_group_image.variant(resize_to_limit: [100, 100]).processed %>
            </td>
            <td>
              <%= link_to group_path(group.id) do %>
                <%= group.name %>
              <% end %>
            </td>
            <td><%= group.introduction %></td>
            <td>
              <% if group.owner_id == current_user.id %>
                <%= link_to "Edit", edit_group_path(group.id), class: "btn btn-success" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    
    </div>
  
  </div>

</div>
