<!--Home-->

<div class="container px-5">
 <div class="row">
     <!-- User info -->
  <div class="col-md-3">

    <h3>User info</h3>
    <%= image_tag @user.get_profile_image(100,100) %>
    <table class="table table-hover table-inverse">
     <tbody>
      <tr>
        <td><p>name</p></td>
        <td><p><span><%= @user.name %></span></p></td>
      </tr>
      <tr>
        <td><p>introduction</p></td>
        <td><p><span><%= @user.introduction %></span></p></td>
      </tr>
     </tbody>
    </table>

   <!--User 編集-->
     <% if @user == current_user %>
       <%= link_to  edit_user_path do %>
        <button type="button" class="btn btn-outline-secondary btn-block">
        <i class="fa-solid fa-user-gear"></i>
        </button>
       <% end %>
     <% end %>



    <!--新規作成 -->


       <div class="New book mt-3">
        <h3>New book</h3>
        <%= form_with model: @book do |f| %>
         <h4>Title</h4>
         <%= f.text_field :title %>
      　  <h4>Opinion</h4>
         <%= f.text_area :body %>

         <div class="submit mt-2">
          <button type="submit" class="btn btn-success">
           Create Book
          </button>
         </div>

         <% end %>
        </div>

  </div>



    <!--book一覧-->
  <div class="col-md-8 offset-md-1">
   <h2>Books</h2>
    <table class="table table-hover table-inverse">
     <thead>
      <tr>
       <th></th>
       <th><h4>Title</h4></th>
       <th><h4>Opinion</h4></th>

        <th></th>
        <th></th>
      </tr>
     </thead>

     <tbody>
       <% @books. each do |book| %>
      <tr>
        <td>
         <%= image_tag book.user.get_profile_image(100,100) %>
        </td>
        <td>
         <%= link_to book_path(book.id) do %>
             <%= book.title %>
            <% end %>
        </td>
        <td><p><span><%= book.body %></span></p></td>
        <!--% if @user == current_user %-->
         <td><!--%= link_to "Edit", edit_book_path(book.id) %--></td>
         <td><!--%= link_to "Destroy", book_path(book.id),method: :delete, "data-confirm" => "Are you sure？" %--></td>
        <!--% end %-->
      </tr>
      <% end %>
     </tbody>
    </table>
  </div>

 </div>
</div>

