<h3><%= @user.name %>さんとのチャット</h3>

<div class="container">
  <div class="row">
    <div class="col-4">
      <!--chatフォーム-->
      <%= render "chat_form", chat: @chat %>
    </div>
    <div class="col-8">
      <div class="d-flex justify-content-between">
        <p class="text-secondary"><%= @user.name %></p>
        <p class="text-success"><%= current_user.name %></p>
      </div>
      <div id="chat-index">
        <!--chat一覧-->
        <% @chats.each do |chat| %>
          <%= render "chat_index", chat: chat %>
        <% end %>
      </div>
    </div>
  </div>
</div>