    <!-- User info -->
    <h3>User info</h3>
      <!--% books.each do |book| %-->

        <%= image_tag book.get_profile_image(100,100) %>
        <table class="table table-hover table-inverse">
         <tbody>
          <tr>
            <td><p>name</p></td>
            <td><p><span><%= book.name %></span></p></td>
          </tr>
          <tr>
            <td><p>introduction</p></td>
            <td><p><span><%= book.introduction %></span></p></td>
          </tr>
         </tbody>
        </table>

      <!--% end %-->

      <%= link_to  edit_user_path(book) do %>
          <button type="button" class="btn btn-outline-secondary btn-block">
            <i class="fa-solid fa-user-gear"></i>
          </button>
      <% end %>


    <!--新規作成 -->
       <div class="New book mt-3">

        <h3>New book</h3>
        <%= form_with model: Book.new do |f| %>
         <h4>Title</h4>
         <%= f.text_field :title %>
      　  <h4>Opinion</h4>
         <%= f.text_area :body %>

         <div class="submit mt-2">
          <button type="submit" class="btn btn-success">
           Create Book
          </button>
         </div>
         <% end %>
         </div>
