<!--Books-->

 <div class="message">
  <%= flash[:notice] %>
 </div>

 <div class="container px-5">
  <div class="row">
   <div class="col-md-3">

<!--共通-->
<%= render 'userinfo' %>
<!--共通-->

  </div>

 <div class="col-md-8 offset-md-1">
 <h2>Books</h2>
  <table>
   <thead>
    <tr>
      <th></th>
      <th><h4>Title</h4></th>
      <th><h4>Opinion</h4></th>
    </tr>
   </thead>

   <tbody>
     <% @books.each do |book| %>
    <tr>
      <td>
       <%= image_tag current_user.get_profile_image(100,100) %>
      </td>
      <td>
       <%= link_to  book_path(book.id) do %>
        <%= book.title %>
       <% end %>
      </td>
      <td><p><span><%= book.body %></span></p></td>
    </tr>
    <% end %>
   </tbody>
  </table>
 </div>

</div>
</div>

<!--新規作成のエラーメッセージ -->

<% if @hon.errors.any? %>

  <div class="message-box">　<%= @hon.errors.count %> errors prohibited this book from being saved:
  <ul>
    <% @hon.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>
