<!--Books detail-->

<div class="container px-5">
 <div class="row">
  <div class="col-md-3">

<!--共通-->
<%= render 'userinfo' %>
<!--共通-->

  </div>

     <!--book一覧-->
  <div class="col-md-8 offset-md-1">
   <h2>Books detail</h2>
    <table class="table table-hover table-inverse">
     <thead>
      <tbody>

        <tr>
          <td><%= image_tag @book.user.get_profile_image(100,100) %>
               <br>
               <%= link_to user_path(current_user.id) do %>
               <%= @book.user.name %>
               <% end %>
          </td>
          <td>
           <%= link_to book_path do %>
             <%= @book.title %>
           <% end %>
          </td>
          <td><p><span><%= @book.body %></span></p></td>
          <td>
           <%= link_to  edit_book_path(@book.id) do %>
            <button type="button" class="btn btn-success">Edit</button>
           <% end %>
           </td>
          <td>
           <%= link_to book_path(@book.id),method: :delete, "data-confirm" => "Are you sure？" do %>
            <button type="button" class="btn btn-danger">Destroy</button>
           <% end %>
           </td>
        </tr>

      </tbody>
     </thead>
    </table>
  </div>