<div class="message">
  <%= flash[:notice] %>
 </div>

<div class="container px-5">
 <div class="row">
  <div class="col-md-3">

<!--共通-->
<%= render 'userinfo' %>
<!--共通-->

  </div>

     <!--book一覧-->
  <div class="col-md-8 offset-md-1">
   <h2>Books detail</h2>
    <table>
     <thead>
      <tbody>

        <tr>
          <td><%= image_tag @book.user.get_profile_image(100,100) %><br>
              <p><span><%= @book.user.name %></span></p>
          </td>
          <td><p><span><%= @book.title %></span></p></td>
          <td><p><span><%= @book.body %></span></p></td>
          <td><%= link_to "Edit", edit_book_path(@book.id) %></td>
          <td><%= link_to "Destroy", book_path(@book.id),method: :delete, "data-confirm" => "Are you sure？" %></td>
        </tr>

      </tbody>
     </thead>
    </table>
  </div>
