<!--Books detail-->

<div class="container px-5">
 <div class="row">
  <div class="col-md-3">

<!--共通-->
<%= render 'userinfo', user: @book_user %>
<!--共通-->

  </div>

     <!--book一覧-->
  <div class="col-md-8 offset-md-1">
   <h2>Book detail</h2>
    <table class="table table-hover table-inverse">
      <tbody>
        <tr>
          <td>
               <%= link_to user_path(@book.user.id) do %>
                <%= image_tag @book.user.get_profile_image(100,100) %>
                <br>
                <%= @book.user.name %>
               <% end %>
          </td>

          <td>
           <%= link_to book_path do %>
             <%= @book.title %>
           <% end %>
          </td>

          <td><p><span><%= @book.body %></span></p></td>

          <td><%= @book.tag %></td>

          <td id="favorite-btn-<%= @book.id %>">
            <%= render "favorites/favorite-btn", book:@book %>
          </td>

          <td id="comment-count" >
            <%= render "book_comments/comment_count", book:@book %>
          </td>

          <td>
            <%= render "star_rate", book: @book %>
          </td>

          <% if @book.user == current_user %>
          <td>
            <%= link_to  edit_book_path(@book.id) do %>
            <button type="button" class="btn btn-success">Edit</button>
            <% end %>
          </td>

          <td>
            <%= link_to book_path(@book.id),method: :delete, "data-confirm" => "Are you sure？" do %>
            <button type="button" class="btn btn-danger">Destroy</button>
            <% end %>
          </td>
          <% end %>
        </tr>

      </tbody>
    </table>

    <hr>

    <!--コメント-->
    <div id="comment-index">
      <%= render "book_comments/comment_index", book: @book %>
    </div>
    <%= render "book_comments/comment_form", book: @book, book_comment: @book_comment %>


  </div>